@import "../../styles/_module.scss";

.loading {
  $self: &;
  width: 100%;
  height: auto;
  min-height: 60vh;
  position: relative;

  &__container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__spinner {
    font-size: 10rem;
    color: var(--primary);
    animation: spinner 3s infinite linear;
  }

  &__sm {
    min-height: 10rem;
    #{$self}__spinner {
      font-size: 5rem;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
