.container {
  background: var(--white);
  margin: -40px -40px 0 -40px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 40px 0 40px;
  border-bottom: solid 2px var(--light);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.05);
}

.title {
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
  align-items: center;

  &__text {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.navigation {
  display: flex;
  margin-bottom: 5px;

  &__item {
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    color: var(--primary);

    &--active {
      font-weight: bold;
      border-bottom-color: var(--primary);
    }
  }
}