.TopBar {
  display: flex;
  padding: var(--navigation-head-padding);
  box-shadow: var(--navigation-head-shadow);
  background-color: var(--bs-white);

  &__ToggleButton{
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--navigation-button-size);
    height: var(--navigation-button-size);
  }

  &__ToggleButtonIcon {
    display: block;
    font-size: var(--navigation-button-icon-size);
    line-height: 1;
  }
}
