<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
 
    <property name="logFileName" value="api" />
    <property name="logFilePath" value="./logs/" />
 
    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] %X{client} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <!-- アプリケーションログのファイル書き出し -->
    <appender name="APPLIATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--ファイル名 -->
        <file>${logFilePath}${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}${logFileName}-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] %X{client}-applog-%msg%n</pattern>
        </encoder>
    </appender>
 
    <!--rootログレベルと使用出力ルール -->
    <root level="INFO">
        <appender-ref ref="APPLIATION_LOG" />
    </root>
</configuration>
