@import "../../styles/module";

.sidebar {
  $self: &;

  height: auto;
  width: $sidebar-width-open;
  transition: width $sidebar-transition-time ease-in-out;

  .currentUser {
    transition: opacity $sidebar-transition-time ease-in-out 0.15s;
  }

  &__closed {
    width: $sidebar-width-closed;
    @include media-breakpoint-down(sm) {
      width: 0;
    }

    .group {
      transition: opacity $sidebar-transition-time ease-in-out 0s;
      opacity: 0;
    }

    .currentUser {
      opacity: 0;
      transition: opacity $sidebar-transition-time ease-in-out 0s;
    }
  }

  &__static {
    .group {
      opacity: 1;
      transition: none;
    }
  }

  &__container {
    border-right: $sidebar-border;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-color);

    overflow-x: hidden;
    overflow-y: auto;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;


    height: auto;
    width: $sidebar-width-open;
    @include scroll-bar($sidebar-scrollbar-bg);
  }

  &__content {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: $navbar-height;
  }

  &__nav {
    margin: 0;
    padding: 0;
  }
}

.currentUser {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  &__icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: var(--sidebar-item-active-color);
    color: var(--sidebar-bg-color);
  }
  &__uid {
    flex-grow: 1;
  }
}

.group {
  transition: opacity $sidebar-transition-time ease-in-out $sidebar-transition-time * 0.2;
  margin: 2rem 0 1rem;
  &__title {
    color: var(--sidebar-nav-title-color);
    font-weight: bold;
    margin: 2rem 0 0.5rem 0.5rem;
    font-size: 0.9rem;
    opacity: 1;
    @media (min-width: breakpoint-min(lg)) {
      opacity: 1;
    }
  }
}

.actions {
  padding: 0.5rem;
  gap: 0.5rem;
  display: flex;
}

.toggleButton {
  width: $sidebar-width-closed;
  height: $sidebar-width-closed;
  background: transparent;
  border: none;
  color: var(--sidebar-item-active-color);

  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
