@use "sass:math";
@import "../../../styles/module";

.navbar {
  z-index: 100;
  background: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  height: $navbar-height;
  transition: background-color .2s ease, margin .2s ease,;
  display: none;
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__menu {
    cursor: pointer;
  }
}
