@use "sass:math";
@import "../../styles/module";

.navbar {
  z-index: 100;
  background: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  height: $navbar-height;
  transition: background-color .2s ease, margin .2s ease,;
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }

  &__menu {
    line-height: 1;

    $size: $navbar-height * 0.3;
    $padding-vertical: math.div($navbar-height - $size, 2);
    $padding-horizontal: math.div($content-padding, 2);
    font-size: $size;
    margin-left: math.div($content-padding, 2);
    padding: $padding-vertical $padding-horizontal;
    color: #495057;

    @include media-breakpoint-down(sm) {
      $size: $navbar-height * 0.5;
      $padding-vertical: math.div($navbar-height - $size, 2);
      $padding-horizontal: $content-padding-sm;
      font-size: $size;
      margin-left: 0;
      padding: $padding-vertical $padding-horizontal;
    }
  }

  &__menuToolTip {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__auth {
    padding: 0 1rem;
  }
}

.currentUser {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  text-decoration: none;


  &, &:hover, &:active {
    box-shadow: none;
    border: none;
    background: transparent;
    color: inherit;
  }

  &:hover {
    background-color: var(--light);
  }

  &__icon {
    $size: 2rem;
    background: var(--secondary);
    color: var(--light);
    width: #{$size};
    height: #{$size};
    line-height: #{$size};
    text-align: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
  }
  &__displayName {
    font-size: 1rem;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

}
