@import "../../../styles/module";

.linkGroup {
  $self: &;
  font-size: 0.9rem;
  position: relative;
  overflow-x: hidden;
  color: var(--sidebar-color);

  a {
    cursor: pointer;
    display: block;
    color: var(--sidebar-color);
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  &__header {
    position: relative;
    align-items: center;
    padding-left: 50px;
    line-height: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    width: 100%;
    color: inherit;

    &__active #{$self}__icon {
      background-color: var(--sidebar-item-active-color);
      color: var(--sidebar-bg-color);
    }

    @include media-breakpoint-up(md) {
      line-height: 55px;
    }

    &:hover {
      background-color: var(--sidebar-item-hover-bg-color);
    }
  }

  &__icon {
    font-size: $font-size-larger;
    display: block;
    position: absolute;

    top: 12px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      top: 6px;
    }
  }

  &__title {
    color: var(--sidebar-item-active-color);
  }

  &__caret {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    transform: rotate(0deg);
    @include transition(transform 0.3s ease-in-out);
    &__opened {
      transform: rotate(-90deg);
    }
  }

  &__items {
    background: var(--sidebar-action-bg);
    padding: $spacer;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__link {

    display: block;
    padding: 10px 20px 10px 26px;
    border: none;
    background: transparent;
    color: inherit;
    text-align: start;

    &:hover {
      background-color: var(--sidebar-item-hover-bg-color);
    }
    &__active {
      font-weight: bold;
      opacity: 1;
    }
  }
}
