@import "../../../styles/module";

.layout {
  $self: &;
  position: relative;
  left: 0;
  transition: left $sidebar-transition-time ease-in-out;
  overflow-x: hidden;

  &__closedSidebar {
    #{$self}__container {
      left: 0;
      margin-left: 50px;
      width: calc(100vw - 50px);
      @include media-breakpoint-down(sm) {
        left: 0;
        margin-left: 0;
        width: 100vw;
      }
    }
  }

  &__staticSidebar {
    #{$self}__container {
      left: 0;
      margin-left: $sidebar-width-open;
      @include media-breakpoint-down(sm) {
        left: $sidebar-width-open;
        margin-left: 0;
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 0;
    transition: left $sidebar-transition-time ease-in-out, margin-left $sidebar-transition-time ease-in-out;
    left: $sidebar-width-open;
    width: calc(100vw - #{$sidebar-width-open});
    margin-left: 0;
    @include media-breakpoint-down(sm) {
      width: auto;
      margin-left: 0;
      left: $sidebar-width-open;
    }
  }

  &__contents {
    flex-grow: 1;
    min-height: calc(100vh - #{$navbar-height + $ddbj-header-height});
    display: flex;
    flex-direction: column;
    background: $gray-100;
  }
}
