/*
 * Glyphicons Halflings
 */

$glyphicons-halflings-include-bonus: false !default;
$glyphicons-halflings-class-prefix: glyphicon !default;
$glyphicons-halflings-font-base-size: 14px !default;
$glyphicons-halflings-font-path: "./fonts";

@import "../../../../node_modules/glyphicons-halflings/scss/glyphicons-halflings/variables";
@import "./glyphicons-halflings";
@import "../../../../node_modules/glyphicons-halflings/scss/glyphicons-halflings/bonus";
