// Typography
$font-size-root:         16px;
$font-family-sans-serif: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// Colors
$white: #fff;
$gray-100: #f5f6f7;
$gray-200: #ebedf0;
$gray-300: #dadde1;
$gray-400: #ccd0d5;
$gray-500: #bec3c9;
$gray-600: #8d949e;
$gray-700: #606770;
$gray-800: #444950;
$gray-900: #1c1e21;
$black: #000;

$blue:    #3578e5;
$indigo:  #54c7ec;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #fa383e;
$orange:  #ff8c00;
$yellow:  #ffba00;
$green:   #00a400;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$primary:   $orange;
$secondary: $gray-600;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red;
$light:     $gray-100;
$dark:      $gray-900;

$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
);
